.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: #e30d3c;
  padding: 25px 30px;
  font-size: 16px;
  font-weight: 700;
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-ul li a {
  position: relative;
  text-decoration: none;
  color: black;
}

.navbar-ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e30d3c;
  transition: width 0.3s ease;
}

.navbar-ul li a:hover::after {
  width: 100%;
}

.dropdown-one .dropdown-text-main {
  color: #e30d3c;
}
.dropdown-content a {
  display: block;
}

.navbar-ul li a:hover {
  text-decoration: none;
}

.navbar-logo img {
  height: 50px;
  width: 140px;
}
.logo-img {
  background-color: #f9f9f9;
  border-radius: 20px;
  filter: contrast(3.5);
  
}

.navbar-links .navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links .navbar-ul li {
  display: inline;
  margin-left: 20px;
}

.navbar-links .navbar-ul li:first-child {
  margin-left: 0;
}

.navbar-links .link-text {
  color: #e30d3c;
  font-weight: 700;
  text-decoration: none;
}

.navbar-links .link-text:hover {
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #e30d3c;
  font-weight: 700;
  background-color: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: #e30d3c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  width: 50rem;
  right: 1rem;
}
.dropdown-content-2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: #e30d3c;
  min-width: 165px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  width: 12rem;
  right: 0rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}
.dropdown-content-2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}
.dropdown-content .dropdown-content-2 .dropdown-text {
  color: #e30d3c;
}
.dropdown-all {
  display: flex;
  justify-content: center;
}
.dropdown-all-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.nav-icon {
  margin-right: 0.5rem;
  color: #e30d3c;
}

.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown-content-2 a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-2 {
  display: block;
}

.dropdown-text {
  font-weight: bold;
  color: #e30d3c;
}
